# Stellar cofigurations
HORIZON_URL=
DEFAULT_TIMEOUT=
GA_NGN_ASSET_CODE=
GA_USD_ASSET_CODE=
ISSUER_SECRET_KEY=
STARTING_XLM_BALANCE=

# Django API authentication cofigurations
DJANGO_DOMAIN=

STELLAR_MICROSERVICE_LOGIN=
STELLAR_MICROSERVICE_PASSWORD=

# Celery cofigurations
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TIMEZONE=

# Redis cofigurations
REDIS_HOST=

FLOWER_USER=
FLOWER_PASSWORD=

DJANGO_CREDENTIALS_TTL=

# GPG configurations
GPG_ROOT_KEY_PASSPHRASE=

GPG_ROOT_B64_PUB_KEY=
GPG_ROOT_B64_PRIV_KEY=

# Sentry configurations
SENTRY_URL=
SENTRY_ENV=