# FastAPI cofigurations
APP_PREFIX=

# Stellar cofigurations
HORIZON_URL=
DEFAULT_TIMEOUT=
ASSET_CODE=
ISSUER_SECRET_KEY=
STARTING_XLM_BALANCE=

# Django API authentication cofigurations
DJANGO_DOMAIN=
STELLAR_MICROSERVICE_LOGIN=
STELLAR_MICROSERVICE_PASSWORD=

# Celery cofigurations
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TIMEZONE=

# Redis cofigurations
REDIS_HOST=
